* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Noteworthy";
  src: url("../fonts/Noteworthy-Lt.woff") format("truetype");
}

body {
  font-family: "Noteworthy", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px; 
  height: 12px;  
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
}

body::-webkit-scrollbar-thumb {
  background: #FF3BB9;  
  border-radius: 5px;  
  border: 2px solid white;
} 

html{
    scroll-behavior: smooth;
}

/* utils */
.Noteworthy_font {
  font-family: "Noteworthy", sans-serif;
}

.flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_center_alignEnd{
  display: flex;
  justify-content: center;
  align-items: end;
}

.flex_center_alignStart{
  display: flex;
  justify-content: center;
  align-items: start;
}

.flex_col{
  display: flex;
  justify-content: center;
  flex-direction:column;
}

.flex_between{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.flex_align_center{
  display: flex; 
  align-items: center;
}
 

.text_bold {
  -webkit-text-stroke: .5px white;
}

.text_bold_grey {
  -webkit-text-stroke: 1px #5C5154;
}

.thin_stroke {
  -webkit-text-stroke: .5px black;
}

.medium_stroke {
  -webkit-text-stroke: 1px #A9226A; 
  text-shadow: 2px 5px 0px #A9226A;
}

.bold_stroke {
  -webkit-text-stroke: 2px #A9226A; 
  text-shadow: 3px 8px 0px #A9226A;
}

.btn_shadow{
  box-shadow: 3px 5px 0px 0px #000000;
}
.text_ellipsis{
  text-overflow: ellipsis;
} 

/* navbar */
nav .logo h2 {
  text-shadow: 0 3px 0 black;
  /* -webkit-text-stroke: 1px black; */
}

ul li:hover a {
  color: #d1d1d1;
}

nav .buy {
  box-shadow: 0px 4.55px 0px 0px #000000;
  font-family: "Luckiest Guy", cursive;
}

nav .social .media {
  box-shadow: 2.09px 2.09px 0px 0px #000000;
}

nav .social .media:hover {
  transform: scale(1.1);
}


.nav_container::before{
  content: "";
  position: absolute;
  left: 0;
  width: 62%;
  height: 100%;
  background-color: #FE63C7;

  border-radius: 0 0 20px 0;
}

/* menu button */
.menu {
  transform: scale(0); 
}

.menu-button {
  display: none;
  overflow: hidden;

  height: 35px;
  width: 45px;

  position: relative;

  align-items: center;
}

.menu-button span {
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.menu-button span:nth-child(1) {
  top: 0;
}

.menu-button span:nth-child(2) {
  position: relative;
}

.menu-button span:nth-child(3) {
  bottom: 0;
}

.menu-button.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 1rem;
}

.menu-button.active span:nth-child(2) {
  width: 0%;
}

.menu-button.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 1rem;
} 

/* about */
.about{
  background: linear-gradient(166.96deg, #FF359E -0.76%, #FF309C 90.6%);
}

.feature:hover img{
  transform: scale(1.1);
}

/* token */
.token_container{
  box-shadow: 13px 15px 0px 0px #10500C;
}

.bold_stroke_token {
  -webkit-text-stroke: 2px white; 
  text-shadow: 3px 8px 0px #148F0C;
}

#tokenomics::before {
  content:'';
  position:absolute;
  height:100px;
  width:110%;

  top: 0;
  margin-top: -2rem;
  left: -50px;
  background-image: url('../images/top_token.svg');
  background-repeat: repeat-x;
  background-size: cover;
}
 


/* roadmap */
.bold_stroke_roadmap {
  -webkit-text-stroke: 2px white; 
  text-shadow: 3px 8px 0px #148F0C;
}

.roadmap_btn1{
  background: linear-gradient(180deg, #DC2985 0%, #D84791 59.75%, #A02F69 106.48%); 
}

.roadmap_btn2{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(230, 230, 230, 0.9) 56.06%, rgba(135, 126, 126, 0.9) 100%);

}

/* animation */
.float_animation{
    animation: float 10s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	30% { 
		transform: translatey(-10px);
	}
  60%{
    transform: translatey(10px);
  }
	100% {
		transform: translatey(0px);
	}
}

.rotate_animation{
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
0%{
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
} 
}

.zoom_outIn{
    animation:zoom_outIn 20s infinite linear;
  }

  .zoom_outIn_image{
    animation:zoom_outIn_image 30s infinite linear;
  }

  @keyframes zoom_outIn {
   0%,100%{
       transform: scale(1);
   } 
   50%{
       transform: scale(1.2);
   } 
  }

  @keyframes zoom_outIn_image {
   0%,100%{
       transform: scale(1);
   } 
   50%{
       transform: scale(.9);
   } 
  }

  .social a:hover .hover_rotateBtn{
   transform: rotate(380deg);
  }



/* media screen */
@media screen and (max-width: 1024px) {
  .menu-button {
    display: flex;
    position: absolute;
    right: 0;
  }

  .menu {
    /* transform: translateX(-100%); */
    transform: scale(0);
  }

  .menu.active {
    transform: scale(1);
  }

  /* navbar */
  .nav_container::before{ 
    width: 100%;  
    border-radius: 0 0 0px 0;
  }

  /* tokenomics */
  #tokenomics::before { 
    width:120%;    
    height:70px;
  }
}

@media screen and (max-width: 500px) {
    /* utils */
    .thin_stroke {
        -webkit-text-stroke: 1.2px #A9226A;
      }
      
      .bold_stroke {
        -webkit-text-stroke: 1px #A9226A;
        text-shadow: 0 3px 1px #A9226A;
      }

      .medium_stroke {
        -webkit-text-stroke: 1px #A9226A; 
        text-shadow: 2px 3px 0px #A9226A;
      }

  /* navbar */
  .menu-button {
    width: 27px;
    height: 23px;
  }

  .menu-button.active span:nth-child(1) {
    top: 0.6rem;
  }

  .menu-button.active span:nth-child(3) {
    bottom: 0.7rem;
  }

  /* home */
  .bg_shadow {
    box-shadow: 0px 4px 115.9px 151px #541f32cc;
  }
}
