*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "LonelyCoffee";
    src: url("../font/LonelyCoffee.ttf") format("truetype");
}

body{
    font-family: "LonelyCoffee", sans-serif;
}
  

:root{
    --primariClr:#726749;
    --seconClr:#f7d857;
    --thirdClr:#b7924e; 
}

.addImage{
    position: relative;
}

.addImage::before{
    content: "✓";
    position: absolute;
    right: 0;
    top:0;
    width: 22px;
    height: 22px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    background-color: rgb(20, 182, 20);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
}

.addImage.active::before{
    opacity: 1;
}

.uploadImageContainer{
    background: linear-gradient(180deg, #83F0C3 0%, #65DBF7 100%);
    transition: .4s ease-out;
    -webkit-transition: .4s ease-out;
    -moz-transition: .4s ease-out;
    -ms-transition: .4s ease-out;
    -o-transition: .4s ease-out;
}

.uploadImageContainer:hover{
    transform: scale(0.99) rotate(-2deg);
    -webkit-transform: scale(0.99) rotate(-2deg);
    -moz-transform: scale(0.99) rotate(-2deg);
    -ms-transform: scale(0.99) rotate(-2deg);
    -o-transform: scale(0.99) rotate(-2deg);
}

.choiseBtnContainer button{
    color: var(--thirdClr);
    padding: .45rem 1em;
    height: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

}

.choiseBtnContainer button.active{
    background-color: var(--primariClr);
    border: 1px solid black;
    color: var(--seconClr);
}

.btnChoise button{
     background-color: var(--primariClr);
     color: var(--seconClr);
     padding: .5rem 1.5rem;


     border-radius: 40px;
     -webkit-border-radius: 40px;
     -moz-border-radius: 40px;
     -ms-border-radius: 40px;
     -o-border-radius: 40px;
}

.choiseMemes .addImage{
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem 0;
    height: 80px;
    width: 80px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.addImage:hover{
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
}

.addImage img{
    width: 90%;
    max-height: 90%; 
    object-fit: contain;
}


/* setting panels */
#settingsPanel {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    width: 800px;
    background: var(--primariClr);
    color: var(--seconClr);
    border: 1.5px solid black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    justify-content: center;
    align-items: center;
    gap: 1rem;
}


/* Untuk Chrome, Safari, dan Edge */
input[type="range"] {
    -webkit-appearance: none; /* Menghapus gaya default */
    width: 100%;
    height: 8px;
    background: var(--thirdClr);
    border-radius: 5px;
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: var(--seconClr);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  }
  
  input[type="range"]::-webkit-slider-runnable-track {
    /* background-color: var(--seconClr); */
    /*Ubahwarnatrack*/
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  
  /* Untuk Firefox */
  input[type="range"]::-moz-range-thumb { 
    background-color: var(--seconClr); 
    cursor: pointer;
  }
  
  input[type="range"]::-moz-range-track {
    background-color: var(--seconClr); /* Ubah warna track */
  }
  
  /* Mengubah warna slider ketika dihover */
  input[type="range"]:hover::-webkit-slider-thumb {
    background-color: var(--seconClr);
  }
  
  input[type="range"]:hover::-moz-range-thumb {
    background-color: var(--seconClr);
  }
  


  /* choise button */
  .choiseMemes{
    display: none;
  }

  .choiseMemes.active{
    display: flex;
  }